*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.LandingPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left_landingpage{
    width: 70%;
    height: 700px;
    background-color: #FFF5EC;
}

.container_left_landingpage{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 5rem;
}

.maintext_landingpage h1{
    padding-top: 150px;
font-family: Poppins;
font-style: normal;
font-weight: 900;
font-size: 100px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;
color: #2E266F;
opacity: 0.1;
}

.maintext_landingpage h2{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 43px;
line-height: 50px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #2E266F;
}

.ordernow_button_landing{
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.order_now_button{
    background-color: #FEA904; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0px 60px 0px 0px;
}

.location_button_landing{
    background-color: #FEA904; /* Green */
    border: none;
    width: 160px;
    height: 48px;
    color: white;
    text-align: center;
    padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0px 100px 100px 0px;
}

.right_landingpage{
width: 30%;
height: 700px;
background-color: #FEA904;

}

.landing_image img{
    width: 600px;
    height: 450px;
    z-index: 1;
}